---
title: Rick Bradley - About Me
section: about
---
<div class="about row">
    <h2 class="about">Some Quick Background</h2>
</div>
<div class="about row">
    <div class="two-thirds column">
        <p>
            I decided to make development my full time career a bit later in life than most developers, but it has turned out to be a great decision. 
            I had worked freelance on smaller projects for years, and knew that to progress, I needed to be "official". Back to college I went, and I have 
            to say it was a different experience this time: seriously focused on the goal.
        </p>
        <p>
            I've worked a number of different areas: .NET/Node JS/Angular JS UI/UX and API development,Hyperledger Fabric and R3 Corda blockchain, SQL and noSQL DB. 
            My current push is to gain a better DEV-OPS perspective rather than DEV. I'm working with virtual environment set-up, dockerization, 
            and just getting up to speed on working throughout a development environment.
        </p>
    </div>
    <div class="one-third column">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="rickbradley">
            <a class="LI-simple-link" href="https://www.linkedin.com/in/rickbradley?trk=profile-badge" target="_blank">Richard Bradley</a>
        </div>
    </div>
</div>