---
title: Rick Bradley
---
<div class="landing row">
    <p>Thanks for visiting my GitLab Repository Portfolio! This basic Nanoc site contains a bit about me and links to my various code repositories here on GitLab.</p>
    <p>I will be hosting personal and portfolio/guide specific projects here for reference. The current repo list can be found in the portfolio section.</p>
</div>
<div class="landing row">
  <div class="portfolio one-third column">
    <h2><a class="portfolio" href="/portfolio/">Portfolio</a></h2>
    <p>
      My <a href="/portfolio/">portfolio</a> listing of past and current projects. Just a sampling.
    </p>
  </div>
  <div class="about one-third column">
		<h2><a class="about" href="/about/">About Me</a></h1>
		<p>
			A brief bit of <a class="about" href="/about/">my background and journey</a> to where I am today.
		</p>
	</div>
	<div class="blog one-third column">
    <h2><a class="blog" href="http://www.rickbradleyonline.com" target="_blank">Blog</a></h2>
    <p>
      For a more visual look at my experiences, plus guides and op-ed pieces, 
      you can visit my <a href="http://www.rickbradleyonline.com" target="_blank">rickbradleyonline.com</a>.
    </p>
  </div>
</div>

