---
title: Rick Bradley - Portfolio
section: portfolio
---

<div class="portfolio row">
        <h2 class="portfolio">Portfolio Landing:</h2>
</div>
<div class="portfolio row">
    <div class="column">
        <p>This is a development placeholder.</p>
    </div>
</div>
<div class="portfolio row">
        <div class="twelve columns">
            
            <% children_of(@item).sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |post| %>	
            <h2 class="portfolio"><a href="<%= post.identifier.without_ext %>/index.html"><%= post.attributes[:title] %></a></h2>
    
            <a href="<%= post.identifier.without_ext %>/index.html">
                <img src="<%= post.attributes[:banner] %>" alt="<%= post.attributes[:title] %>" />
            </a>
    
            <p><%= post.attributes[:byline] %></p>
            <% end %>
    
        </div>
    </div>