<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><% if @item[:title] %><%= @item[:title] %><% end %></title>
    <!-- Meta -->
		<meta charset="UTF-8">
		<meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="<%= @item[:title] %>" />
    <meta name="author" content="Richard Bradley">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheetDefault.css">
    <!-- Social Links -->
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  </head>
  <body>
    <div class="container">

      <header class="title row">
        <a href="/index.html">
          <h1 <% if @item[:section] %>class="<%= @item[:section] %>"<% end %>>
            <% if @item[:title] %><%= @item[:title] %><% end %>
          </h1>
        </a>
      </header>
        
        <%= yield %>
  
      <nav class="row">
        <% if @item[:title] != 'Rick Bradley' %>
          <a class="two columns home" href="/index.html">Home</a>
        <% end %>
        <a class="two columns portfolio" href="/portfolio/">Portfolio</a>
        <a class="two columns about" href="/about/">About</a>
        <a class="two columns blog" href="http://www.rickbradleyonline.com" target="_blank">Blog</a>
      </nav>
  
      <footer class="row">

        <div class="copyright nine columns" >
          <p>
            Copyright &copy; 2018 Richard Bradley.
            Unless otherwise noted, this content is available freely through the Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">BY-NC-SA 3.0</a> license.
          </p>
          <rdf:RDF xmlns="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
                  <permits rdf:resource="http://creativecommons.org/ns#Reproduction"/>
                  <permits rdf:resource="http://creativecommons.org/ns#Distribution"/>
                  <requires rdf:resource="http://creativecommons.org/ns#Notice"/>
                  <requires rdf:resource="http://creativecommons.org/ns#Attribution"/>
                  <prohibits rdf:resource="http://creativecommons.org/ns#CommercialUse"/>
                  <permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks"/>
                  <requires rdf:resource="http://creativecommons.org/ns#ShareAlike"/>
                </License>
              </rdf:RDF>
            <p>
            This portfolio is open source; its source code is available on <a href="https://richardbradley.gitlab.io/" target="_blank">Gitlab</a>.
          </p>
        </div>
      </footer>

    </div>
  </body>
  <!-- JavaScripts -->
  <script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/javascript/lightbox.js"></script>
</html>
