/*
* layout.css
* Copyright 2018 Richard Bradley <rick@rickbradleyonline.com>
* For http://richarb.bradley.gitlab.io/
*
* modified from https://github.com/linenoise/portfolio/
* Danne Stayskal <danne@stayskal.com>
*
* License: Creative Commons BY-NC-SA 3.0 US
* http://creativecommons.org/licenses/by-nc-sa/3.0/us/
*/
/* Table of Contents
==================================================
    # Typography
    # Layout
    # Landing page
    # Media Queries
        # Netabout and Tablets (landscape)
        # Tablets (portrait) and Phones (landscape)
        # Phones (portrait)
        # Printers
*/
/* Color Palette 
================================================== */
/* Typography
================================================== */
body {
  background-color: #e6e6e6;
  color: #4f5150; }

.container {
  background-color: #f4f4f4; }

h1 {
  font-size: 26pt; }

h2 {
  font-size: 22pt; }

h3 {
  font-size: 18pt; }

/* Layout
================================================== */
.title h1 {
  padding: 0.833em;
  background: linear-gradient(to bottom right, #31708e, #cbcc9a);
  border-top: 0.417em solid #e6e6e6;
  border-bottom: 0.417em solid #e6e6e6;
  margin-bottom: 0; }

.title, .title a, .title a:hover, .title h1 {
  text-decoration: none;
  color: #f4f4f4 !important; }

a {
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #4f5150 !important; }

a.home {
  color: #31708e; }

.about a, a.about {
  color: #8e5031; }

.portfolio a, a.portfolio {
  color: #8e7f31; }

.blog a, a.blog {
  color: #6f318e; }

nav {
  padding: 1em 0;
  background-color: #f4f4f4;
  border-top: 0.417em solid #e6e6e6; }

nav a {
  font-size: 20pt;
  text-decoration: none;
  padding: 0em 0.5em;
  text-align: center; }

footer {
  padding: 1em 0 0.417em 0;
  color: #e6e6e6;
  background: linear-gradient(to top left, #31708e, #cbcc9a);
  border-top: 0.417em solid #e6e6e6;
  border-bottom: 0.417em solid #e6e6e6; }

footer ul {
  margin: 0;
  padding: 0;
  list-style: none; }

footer ul li {
  background-color: #e6e6e6;
  color: #4f5150;
  margin: 0.417em 0.833em;
  padding: 0.417em;
  vertical-align: center;
  height: 32px;
  border-radius: 0.125em; }

footer ul li a img {
  float: left;
  padding-right: 0.417em; }

footer ul li a span {
  display: block;
  padding-top: 0.042em;
  color: #4f5150;
  font-weight: bold;
  font-size: 105%; }

footer .copyright p {
  margin: 2em 3em;
  margin-bottom: 0; }

footer .portfolio img {
  height: 0.417em;
  width: 0.417em;
  float: right;
  padding-right: 0.625em; }

/* Landing page
================================================== */
.landing h2, .landing p, .landing ul {
  padding: 0 0.833em 0.833em 0.833em;
  margin: 0; }

.landing ul {
  list-style: none; }

.landing.title h1 {
  margin-bottom: 0; }

.landing.project img {
  float: left;
  margin: 0.417em;
  padding: 0; }

.landing.project h2 {
  padding-top: 0.417em;
  padding-bottom: 0.417em; }

.landing.project a {
  font-weight: bold;
  color: #4f5150; }

.landing.row {
  padding-top: 1em; }

/* about pages
================================================== */
header.title h1.about {
  background-color: #8e5031; }

h2.about {
  color: #8e5031; }

.about.row h2, .about.row p, .about.row img, .about.row ul {
  padding-left: 0.833em; }

.about.row h2 {
  margin-top: 0.833em; }

.about.row img {
  padding: 0.833em; }

.about.row p, .about.row ul {
  padding: 0.833em;
  margin-bottom: 0; }

/* portfolio pages
================================================== */
header.title h1.portfolio {
  background-color: #8e7f31; }

h2.portfolio {
  color: #8e7f31; }

.portfolio.row h2, .portfolio.row p, .portfolio.row img, .portfolio.row ul, .portfolio pre {
  padding-left: 0.833em; }

.portfolio.row h2 {
  margin-top: 0.833em; }

.portfolio.row img {
  padding: 0.833em; }

.portfolio.row p, .portfolio.row ul {
  padding: 0 0.833em 0.833em 0.833em;
  margin-bottom: 0; }

.portfolio.row p:last-child {
  border-bottom: 0; }

.portfolio.description.row p {
  border-bottom: 0 !important; }

#legacy {
  color: #e6e6e6;
  background-color: #4f5150;
  padding: 0.833em; }

/* Blog page
================================================== */
header.title h1.blog {
  background-color: #6f318e; }

h2.blog {
  color: #6f318e; }

.blog.row h2, .blog.row p, .blog.row img, .blog.row ul {
  padding-left: 0.833em; }

.blog.row table, .blog.row {
  margin-left: 0.833em;
  margin-right: 0.833em; }

.blog.row table {
  width: 90%; }

.blog.row {
  padding-bottom: 0.417em; }

.blog.row h2 {
  padding-top: 0.833em;
  border-top: 0.417em solid #e6e6e6; }

.blog.row .contact h2 {
  border-top: 0;
  margin-bottom: 0.25em; }

.blog.row .contact p .pronunciation {
  margin-bottom: 1em; }

.blog.row h3 {
  margin-bottom: 0.417em;
  margin-top: 0.833em; }

.blog.row p, .blog.row ul {
  padding: 0 0.833em 0.833em 0.833em;
  margin-bottom: 0; }

.blog.row ul {
  list-style-type: none; }

.blog.row .progress-container {
  border: 0.042em solid #ccc;
  width: 100;
  margin: 2px 5px 2px 0;
  padding: 0.042em;
  float: left;
  background: white; }

.blog div.progress-container > div {
  background-color: #6f318e;
  height: 1em; }

.blog.row .dates {
  float: right;
  font-style: oblique; }

.blog.row .summary {
  font-weight: bold;
  margin-top: 0.5em; }

/*# sourceMappingURL=stylesheetDefault.css.map */
