/*
* layout.css
* Copyright 2018 Richard Bradley <rick@rickbradleyonline.com>
* For http://richarb.bradley.gitlab.io/
*
* modified from https://github.com/linenoise/portfolio/
* Danne Stayskal <danne@stayskal.com>
*
* License: Creative Commons BY-NC-SA 3.0 US
* http://creativecommons.org/licenses/by-nc-sa/3.0/us/
*/

/* Table of Contents
==================================================
    # Typography
    # Layout
    # Landing page
    # Media Queries
        # Netabout and Tablets (landscape)
        # Tablets (portrait) and Phones (landscape)
        # Phones (portrait)
        # Printers
*/

/* Color Palette 
================================================== */

$red-color:                #b10837;  // Pantone 201 U
$orange-color:             #fe7b01;  // Pantone 1505 C
$yellow-color:             #f7b718;  // Pantone 14-0957 TCX
$green-color:              #93a956;  // Pantone 15-0343 TXC
$blue-color:               #007c84;  // Pantone 322 U
//$purple-color:             #522d63;  // Pantone 520 C
$white-color:              #f4f4f4;  // = light-gray-color * 2
$light-gray-color:         #e6e6e6;  // Pantone 427 U
$dark-gray-color:          #4f5150;  // Pantone P 175 15-U
$shadow-color:             #313231;  // = dark-gray-color * 20 / 32
// THEME COLORS
$earthy-green-color:       #5e7462;
$dark-blue-color:          #31708e;
$medium-blue-color:        #5085a5;
$light-blue-color:         #8fc1e3;
$dark-tan-color:           #cbcc9a;
$red-brown-color:          #8e5031;
$olive-color:              #8e7f31;
$purple-color:             #6f318e;


$background-color:         $light-gray-color;
$inset-color:              $white-color;
$home-accent-color:       $dark-blue-color;
$about-accent-color:       $red-brown-color;
$portfolio-accent-color:   $olive-color;
$blog-accent-color:       $purple-color;

/* Typography
================================================== */

body {
    background-color: $light-gray-color;
    color: $dark-gray-color;
}

.container {
    background-color: $white-color;
}

h1 {
    font-size: 26pt;
}
h2 {
    font-size: 22pt;
}
h3 {
    font-size: 18pt;
}

/* Layout
================================================== */

.title h1 {
    padding: 0.833em;
    background: linear-gradient(to bottom right,$dark-blue-color,$dark-tan-color);
    border-top: 0.417em solid $light-gray-color;
    border-bottom: 0.417em solid $light-gray-color;
    margin-bottom: 0;
}

.title, .title a, .title a:hover, .title h1{
    text-decoration: none;
    color: $inset-color !important;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover, {
    color: $dark-gray-color !important;
}

a.home {
    color: $home-accent-color;
}
.about a, a.about {
    color: $about-accent-color;
}
.portfolio a, a.portfolio {
    color: $portfolio-accent-color;
}
.blog a, a.blog {
    color: $blog-accent-color;
}


nav {
    padding: 1em 0;
    background-color: $inset-color;
    border-top: 0.417em solid $light-gray-color;
}

nav a {
    font-size: 20pt;
    text-decoration: none;
    padding: 0em 0.5em;
    text-align: center;
}


footer {
    padding: 1em 0 0.417em 0;
    color: $light-gray-color;
    background: linear-gradient(to top left,$dark-blue-color,$dark-tan-color);
    border-top: 0.417em solid $light-gray-color;
    border-bottom: 0.417em solid $light-gray-color;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    background-color: $light-gray-color;
    color: $dark-gray-color;
    margin: 0.417em 0.833em;
    padding: 0.417em;
    vertical-align: center;
    height: 32px;
    border-radius: 0.125em;
}

footer ul li a img {
    float: left;
    padding-right: 0.417em;
}

footer ul li a span {
    display: block;
    padding-top: 0.042em;
    color: $dark-gray-color;
    font-weight: bold;
    font-size: 105%;
}

footer .copyright p {
    margin: 2em 3em;
    margin-bottom: 0;
}

footer .portfolio img {
    height: 0.417em;
    width: 0.417em;
    float: right;
    padding-right: 0.625em;
}

/* Landing page
================================================== */

.landing h2, .landing p, .landing ul {
    padding: 0 0.833em 0.833em 0.833em;
    margin: 0;
}

.landing ul {
    list-style: none;
}

.landing.title h1 {
    margin-bottom: 0;
}

.landing.project img {
    float: left;
    margin: 0.417em;
    padding: 0;
}

.landing.project h2 {
    padding-top: 0.417em;
    padding-bottom: 0.417em;
}

.landing.project a{
    font-weight:bold;
    color: $dark-gray-color;
}

.landing.row {
    padding-top: 1em;
}

/* about pages
================================================== */

header.title h1.about {
    background-color: $about-accent-color;
}

h2.about {
    color: $about-accent-color;
}

.about.row h2, .about.row p, .about.row img, .about.row ul {
    padding-left: 0.833em;
}

.about.row h2 {
    margin-top: 0.833em;
}

.about.row img {
    padding: 0.833em;
}

.about.row p, .about.row ul {
    padding: 0.833em;
    margin-bottom: 0;
}

/* portfolio pages
================================================== */

header.title h1.portfolio {
    background-color: $portfolio-accent-color;
}

h2.portfolio {
    color: $portfolio-accent-color;
}

.portfolio.row h2, .portfolio.row p, .portfolio.row img, .portfolio.row ul, .portfolio pre {
    padding-left: 0.833em;
}

.portfolio.row h2 {
    margin-top: 0.833em;
}

.portfolio.row img {
    padding: 0.833em;
}

.portfolio.row p, .portfolio.row ul {
    padding: 0 0.833em 0.833em 0.833em;
    margin-bottom: 0;
}

// .portfolio.row p {
//     border-bottom: 0.417em solid $light-gray-color;
// }

.portfolio.row p:last-child {
    border-bottom: 0;
}

.portfolio.description.row p {
    border-bottom: 0 !important;
}

#legacy {
    color: $light-gray-color;
    background-color: $dark-gray-color;
    padding: 0.833em;
}

/* Blog page
================================================== */

header.title h1.blog {
    background-color: $blog-accent-color;
}

h2.blog {
    color: $blog-accent-color;
}

.blog.row h2, .blog.row p, .blog.row img, .blog.row ul {
    padding-left: 0.833em;
}

.blog.row table, .blog.row {
    margin-left: 0.833em;
    margin-right: 0.833em;
}

.blog.row table {
    width: 90%;
}

.blog.row {
    padding-bottom: 0.417em;
}

.blog.row h2 {
    padding-top: 0.833em;
    border-top: 0.417em solid $light-gray-color;
}

.blog.row .contact h2 {
    border-top: 0;
    margin-bottom: 0.25em;
}

.blog.row .contact p .pronunciation {
    margin-bottom: 1em;
}

.blog.row h3 {
    margin-bottom: 0.417em;
    margin-top: 0.833em;
}
.blog.row p, .blog.row ul {
    padding: 0 0.833em 0.833em 0.833em;
    margin-bottom: 0;
}

.blog.row ul {
    list-style-type: none;
}

.blog.row .progress-container { 
    border: 0.042em solid #ccc; 
    width: 100; 
    margin: 2px 5px 2px 0; 
    padding: 0.042em;
    float: left;
    background: white;
}

.blog div.progress-container > div { 
    background-color: $blog-accent-color; 
    height: 1em;
}

.blog.row .dates {
    float: right;
    font-style: oblique;
}

.blog.row .summary {
    font-weight: bold;
    margin-top: 0.5em;
}
