---
title: Gitlab Portfolio Website Repository
byline: Gitlab Portfolio Site in Nanoc/Ruby with Skeleton responsive CSS, SASS-SCSS preprocessing, and Lightbox
banner: /images/portfolio/landing/GitLab Landing Site banner.png
section: portfolio
---

<div class="portfolio row">
    <div class="twelve columns">
        <p>
            I maintain a WordPress Portfolio/Blog site as well as this GitLab landing site. The WordPress site is a CMS 
            (Content Management System) which allows for quick addition and editting of content, as well as easy theme management. 
            This is by far the more visual of the two sites.
        </p>
        <p>
            It has been a while since I've worked with Ruby, and I wanted to try my hand at a static site generator.
            Static generators are more suited to small projects. <a href="https://gitlab.com/richardbradley/richardbradley.gitlab.io" target="_blank">Download source code:</a>
             be sure to check out the README.md file.
        </p>
        <p>
            Site technical features include:<br />
            <ul>
                <li><a href="https://pages.gitlab.io/nanoc" target="_blank">Nanoc:</a> static site generator using Ruby</li>
                <li><a href="http://getskeleton.com" target="_blank">Skeleton:</a> lightweight responsive css</li>
                <li><a href="https://sass-lang.com" target="_blank">SASS:</a> SCSS implementation</li>
                <li><a href="http://lokeshdhakar.com/projects/lightbox2" target="_blank">Lightbox:</a> - image pop over generation script</li>
            </ul>
        </p>
    </div>
</div>
<div class="portfolio row">
    <% ['GitLab Landing Site.png',
            'GitLab Landing Source.png'].each_with_index do |image, index|
    %>
        <div class="one-third column">
        <a href="/images/portfolio/landing/<%= image %>"
            rel="lightbox[photos]"
            title="<%= image.split(/\./)[0] %>">
            <img class="framed photo"
                src="/images/portfolio/landing/<%= image.split(/\./)[0]+'-thumbnail.png' %>" 
                alt="<%= image.split(/\./)[0] %>" />
        </a>
        </div>
    <% end %>
</div>
      